@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Robot-Italic.ttf");
    font-style: italic;
}

body {
    font-family: "Roboto", sans-serif;
    display:flex;
    flex-direction: column;
    margin: 0;
}